Base-LLMs/bert-base-chinese/config.json
Base-LLMs/bert-base-chinese/flax_model.msgpack
Base-LLMs/bert-base-chinese/model.safetensors
Base-LLMs/bert-base-chinese/pytorch_model.bin
Base-LLMs/bert-base-chinese/tokenizer_config.json
Base-LLMs/bert-base-chinese/tokenizer.json
Base-LLMs/bert-base-chinese/vocab.txt
feature_extracter/__pycache__/__init__.cpython-311.pyc
feature_extracter/__pycache__/BERT.cpython-311.pyc
__pycache__/utils.cpython-311.pyc
__pycache__/__init__.cpython-311.pyc
__pycache__/main.cpython-311-pytest-7.4.0.pyc
__pycache__/model.cpython-311.pyc
.idea/.gitignore
.idea/misc.xml
.idea/modules.xml
.idea/UDA-LLMs.iml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
__pycache__/main.cpython-311.pyc
class_classifier/__pycache__/MLP.cpython-311.pyc
domain_classifier/__pycache__/MLP.cpython-311.pyc
